---
Checks: "bugprone-*,
         misc-*,
         -misc-non-private-member-variables-in-classes,
         modernize-*,
         -modernize-use-default-member-init,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type,
         performance-*,
         readability-*,
         -readability-convert-member-functions-to-static,
         -readability-else-after-return,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-named-parameter,
         -readability-redundant-member-init,
         -readability-qualified-auto,
"
WarningsAsErrors: "bugprone-*,
                   misc-*,
                   -misc-non-private-member-variables-in-classes,
                   modernize-*,
                   -modernize-use-default-member-init,
                   -modernize-use-nodiscard,
                   -modernize-use-trailing-return-type,
                   performance-*,
                   readability-*,
                   -readability-convert-member-functions-to-static,
                   -readability-else-after-return,
                   -readability-identifier-length,
                   -readability-implicit-bool-conversion,
                   -readability-magic-numbers,
                   -readability-named-parameter,
                   -readability-redundant-member-init,
                   -readability-qualified-auto,
"
HeaderFilterRegex: 'thirdparty/'
FormatStyle: none
